@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;600&display=swap");

/*Общее*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #222;
}

body {
  background: #fff;
  color: #222;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 20px;
  font-weight: 300;

  background: #e9e8e8;
}

.wrapper {
  max-width: 1280px;
  height: 100%;
  margin: 25px auto;
}


.addToCartBtn{
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
  width: 35px;
  height: 35px;
  background: #ca5252;
  border-radius: 25px;
  border: none;
  transition: all 0.5s ease;
}

.addToCartBtn:hover{
  transform: scale(1.1);
  background: #067118;
}
