@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;600&display=swap");

/*Общее*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #222;
}

body {
  background: #fff;
  color: #222;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.wrapper {
  max-width: 1280px;
  margin: 25px auto;
}

/*Хедер*/
/*/////////////////////////////////////////////////////////////////////////////////////*/

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.logo {
  font-size: 42px;
  font-weight: 600;
  color: #067118;
  margin-left: 15px;
  text-decoration: none;
  transition: all 0.5s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.active {
  border: 1px solid black;
}

.nav {
  display: flex;
  align-items: center;
}

.nav a {
  margin-right: 15px;
}

/*//////////////////////////////////////////////////////////////////////////*/
.sliderWindow{
  display: flex;
  align-items: center;
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}
.slideList{
  width: 100%;
  height: 100%;
  display: flex;

  transition: all 0.5s ease;
  
}

.firstSlide {
  background: url("./img/bg.jpg") no-repeat;
}
.secondSlide {
  background: url("./img/bg.jpg") no-repeat;
}
.thirdSlide {
  background: url("./img/bg.jpg") no-repeat;
}

.firstSlide,
.secondSlide,
.thirdSlide {
  background-size: cover;
  background-position: center center;

  background-blend-mode: multiply;
  background-color: #959595;

  max-width: 100%;
  min-width: 100%;

  height: 100%;
  
}
.slideText{
  font-size: 40px;
  font-weight: 600;
  color: beige;
  padding: 60px 220px;
}
.arrowLeft, .arrowRight{
  position: absolute;
  cursor: pointer;
  font-size: 40px;
  font-weight: 600;
  color: beige;
  z-index: 1000;
}

.arrowLeft{
  left: 10px;
}
.arrowRight{
  right: 10px;
}

/*///////////////////////////////////////////////////////////////////////////////*/

/*Футер*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
footer {
  text-align: center;
  margin: 30px;
}
